<!DOCTYPE html>
<html>
  <head>
    <title>WorkTrial</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <%# stylesheet_pack_tag 'application' %>
  </body>
</html>
